<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Profiles</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        {{>navbar}}
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Perfiles</h1>
                {{{ body }}}
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript" ></script>
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
        <!-- Core theme JS-->
<!--        <script src="../../js/scripts.js"></script>-->
    </body>
</html>
